
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Exo', sans-serif
}
.topnav {
  overflow: hidden;
  background-color: rgb(64, 113, 187);
  padding-right: 30px;
  display: flex;
  justify-content: end;
}

.topnav a {
  color: #f2f2f2;
  /* float: right; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 900;
}

.topnav a:hover {
  background-color: #fff;
  color: rgb(64, 113, 187);
  /* font-weight: 900; */
}

/* .topnav a.active {
  background-color: #fff;
  color: rgb(64, 113, 187);;
} */
.topnav .icon {
  display: none;
}
.nav-link{
  font-size: 20px;
  color:black !important;
  font-weight: 900 !important;
}
.nav-item.active{
  border-bottom:5px solid blue;
}

.dropdowndata {
  float: right;
  overflow: hidden;
}

.dropdowndata .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  font-weight: 900;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(71, 124, 194);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
a{
  color: #000;
  text-decoration:none;
}
a:hover{
  color:black;
  text-decoration:none;
}
.topnav a:hover, .dropdowndata:hover .dropbtn {
  background-color: white;
  color:rgb(64, 113, 187);;
}

.dropdown-content a:hover {
  background-color: #fff;
  color:rgb(64, 113, 187); 
}

.dropdowndata:hover .dropdown-content {
  display: block;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  background-color: rgb(71, 124, 194);
  color:#fff;
}
.navbar-nav .dropdown-menu a {
  color:#fff;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdowndata .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: left;
    display: block;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;display: block;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdowndata {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdowndata .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
  .carousel-indicators li{
    width:10px;
    height:10px;
    border-radius: 100%;
  }
  .nav-footer ul{
    margin:auto auto auto 0;
    display:flex;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  .nav-footer li{
    list-style: none;
    padding: 20px;
  }
  .nav-footer li a{
    color:rgb(236, 229, 229);
  }
  .text-margin{
    margin:3rem !important;
  }
  .img-height{
    height:80vh;
  }
  .img-margin{
    margin:3rem !important;
  }
  @media (max-width:600px) {
    .img-height{
      height:25vh;
    }
    .img-margin{
      margin:1rem !important;
    }
    h3{
      text-align: left;
      font-size: 20px;
    }
    .nav-footer li{
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 10px;
    }
  }
  .row-clr{
    background-color: rgb(64, 113, 187);
    padding: 2rem;
    color:rgb(236, 229, 229)
  }
  .eng-srv{
    text-align: right;
  }
  .dm-hrd{
    text-align: center;
  }
  .srv-list li{
    text-align: left;
  }
  .int-clm{
    text-align: left;
    position: absolute;
    top: 100%;
    right:  75%;
    transform: translate(40%, -139%);
  }
  .srv-col{
    border: 1px solid rgba(0,0,0,.125);
    margin: 4px;
    padding: 5px;
    text-align: center;
    background-color: rgb(130, 161, 219);
  }
  .card-text li{
    text-align: left;
  }
  h3{
    text-align: left;
    color: white;
  }
  .carousel-inner {
    position: relative;
    text-align: left;
    color: white;
  }
  .text1{
    text-align: left;
    position: absolute;
    top: 100%;
    left: -20%;
    transform: translate(58%, -139%);
  }
  
  .text2{
    text-align: left;
    position: absolute;
    bottom: 100%;
    left: -20%;
    transform: translate(58%, -139%);
   
  }
  .text1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 3vw;
    line-height: 1em;
  }
  .text2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 3vw;
    line-height: 1em;
  }
  @media(max-width:600px){
    .text1{
      text-align: left;
      position: absolute;
      top: 70%;
      right: 25%;
      transform: translate(58%, -139%);
    }
    
    .text2{
      text-align: left;
      position: absolute;
      bottom: 17%;
      left: 5%;
      transform: translate(-4%, 52%);
     
    }
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(49, 48, 48, 0.12), 0 4px 8px rgba(0,0,0,.06);
  }
  li {
    text-align: center;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  .navbar-nav{
    padding-right: 100px;
  }
  .dropdown:hover .dropdown-menu{
    display: block;
    color:cornflowerblue
  }
  .dropdown-item{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
  }
  .dropdown-menu a:hover{
    color: rgb(57, 136, 209);
   
  }




  